@import url('http://fonts.googleapis.com/css?family=Montserrat');

barras = #7AC1C4
color2 = #fbf9ff
color2font = #555
color3 = #E3E8CF
colorFooter = #777
tema = #70AFC4
vendors = moz o webkit ms official

animationFunc(name,time)
  -webkit-animation name time
  -moz-animation name time
  animation name time
// Animaciones
for i in 1..10
  $llenar = llenar + i*10
  @keyframes llenar{i*10}
    from
      width 0
    to
      width 10% * i
  div.barra-{i*10}
    animationFunc($llenar,2s)
    width 10% * i

figure
  margin 0
  width 64px
  height 64px

body
  overflow-x hidden
  font-family 'Montserrat', sans-serif

header
  color #385172
  width 80%
  margin 0 auto
  overflow hidden
  // padding-top 2em
  // padding-bottom 1em
  
  h1
    float left
    margin 0
    padding .2em 0
    font-weight 100
    img
      border-radius 50%
      max-width 100%
    figure, span
      display inline-block
      vertical-align middle
  nav
    float right
    ul
      list-style none
      padding 0
      li
        border 2px solid tema
        border-radius 25px
        color tema
        display inline-block
        margin-left 10px
        padding 1em .5em
        text-align center
        transition .2s all linear
        width 75px;
        &:hover
          background-color tema
          color white
          cursor pointer
        a
          text-decoration none
          color inherit
        

section
  background-color tema
  padding 2em 10%
  color white
  font-weight 100
  text-align justify

.text-big
  font-size 3em

.text-medium
  font-size 1.5em

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.color2
  background-color color2
  color color2font

.color3
  background-color color3

.skills,.jobs
  text-align center
  ul
    padding 0

.categories,.project
  display inline-block
  vertical-align top
  width 30%

.categories
  ul
    color #222
    list-style none
    margin-top 10px
    padding .5em
    li
      border 2px solid tema
      //box-shadow: 0px 0px 3px black;
      border-radius 10px
      margin-bottom 10px
      overflow hidden
      padding: 0;
      position: relative;
      width 100%
      div
        background-color barras
        border-radius 0 15px 15px 0
        height 30px
        padding 0
        position relative
      span
        position absolute
        top 0
        left 0
        right 0
        text-align center
        line-height 30px

.jobs
  ul
    list-style none
  .project
    height 200px
    width 22%
    text-align left
    margin-right 15px
    figure
      cursor pointer
      height 150px
      margin-bottom 10px
      overflow hidden
      width 100%
      img
        opacity .5
        border-radius inherit
        background-size cover
        height 150px
        width 100%
        &:hover
          opacity 1
    figcaption,span
      margin-left 15px
    span
      font-size 10px

footer
  padding 1em
  background colorFooter
  color white
  .icons
    a
      color white
      font-size 2em
      text-decoration none
      margin-right 20px
      &:nth-last-child(1)
        margin-right 0

.data
  form
    color tema
    padding 1em 0
    width 45%
    input,textarea,button
      border 0
      border-radius 5px
      box-sizing border-box
      display block
      margin 0
      margin-bottom 10px
      padding .5em .3em
      width 100%
    button
      background #8CCCBE
      color white
      box-shadow: 0px -5px 1px rgba(0,0,0,.2) inset;
      outline none

@media screen and (max-width:720px)
  header h1, header nav
    float none
    text-align center
  
  header nav ul li
    padding 1em .5em
    width 80px

  .categories li
    font-size .7em
  
  .jobs .project
    width 45%
    margin-bottom 15px
  
@media screen and (max-width:450px)
  header h1:before
    display none
  
  header nav ul
    padding 0
  
  header nav ul li
    box-sizing border-box
    display block
    padding .5em 0
    margin 0
    margin-bottom 5px
    width 100%

  .categories, .jobs .project
    display block
    width 100%
    li
      font-size .9em

  .jobs .project
    margin-bottom 15px
    text-align center

  .text-big
    font-size 2em

  .data
    form
      padding 1em 0
      width 100%